html, body {
    /*background-color: #201F1E; */
    background-color: black;
    font-size: 16px;
}


/* SECTION: MENU */
#gallery {
    margin: 11.089rem 10% 2.618rem 10%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 20px;
}

#gallery h4 {
    color: #FFF;
    text-align: left;
    font-family: Menlo;
    font-size: 4.236rem;
    line-height: 4.236rem;
    font-style: normal;
    font-weight: 700;

    margin: 0;
    padding-right: 2.618rem;
}

.circle-container {
    position: relative;
    width: 216px;
    height: 216px;
    border-radius: 50%;
    background: url('/assets/gallery/page/gallery-rio_de_janeiro.webp') center/cover;
}
  
.circle {
    width: 100%;
    height: 100%;
    display: flex;
    position: absolute;
    text-align: center;
    align-items: center;
    justify-content: center;

    border-radius: 50%;
    background: rgba(0, 0, 0, 0.3);
    transition: background 0.3s ease;
}
  
.circle:hover {
    background: rgba(0, 0, 0, 0);
}
  
.circle h6 {
    font-family: Menlo;
    font-size: 1.618rem; 
    font-weight: 400;
    margin: 0;
    color: white;
}


/* SECTION: EXPERIMENTS */
#experiments {
    margin: 0 10% 11.089rem 10%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.experiment-container {
    margin: 0 1.618rem;
}

/* videos */
.animation-video {
    width: 230px;
    overflow: hidden;
    padding: 1.618rem 0; 
}

.animation-video video {
    width: 100%;
    height: auto;
    filter: grayscale(100%);
    transition: filter 0.3s ease;
}

.animation-video video:hover {
    filter: grayscale(0%);
}

/* images */
.experiment-container img {
    max-width: 230px;
    padding: 1.618rem 0;
    filter: grayscale(100%);
    transition: filter 0.3s ease;
}

.experiment-container img:hover {
    filter: grayscale(0%);
}


.experiment-container h6,
.experiment-container p {
    font-family: Menlo;
    color: white;
}

.experiment-container h6 {
    font-size: 1.618rem;
    margin: 0;
}

.experiment-container p {
    font-size: 1rem;
    max-width: 250px;
}

@media screen and (max-width: 580px) {

    html, body {
        font-size: 14px;
    }


    /* SECTION: MENU */
    #gallery {
        margin: 6.854rem 5% 1.618rem 5%;
    }

    #gallery h4 {
        font-size: 2.618rem;
        line-height: 2.618rem;
    }

    .circle-container {
        width: 90px;
        height: 90px;
    }

    .circle h6 {
        font-size: 1rem; 
    }


    /* SECTION: EXPERIMENTS */
    #experiments {
        margin: 0 5% 6.854rem 5%;
        flex-direction: column;
        align-items: center;
    }

    .experiment-container {
        margin: 1.618rem 0;
    }
}