html {
  height: 500vh;
  font-size: 16px;
}
  
body {
  height: 100vh;
  background: #000;
  margin: 0;
}

/* SECTION: ALERT_MESSAGE */
#alert_message {
  position: fixed;
  z-index: 10;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  color: #FFF;
  font-family: Menlo;
  font-weight: 700;
  font-size: 1rem;
  text-align: center;

  animation: fadeOut 2s normal 2s forwards;
}

@keyframes fadeOut {
  from { opacity: 1; }
  to   { opacity: 0; display: none; }
}


/* SECTION: CANVAS */
canvas {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh; 
  object-fit: cover; 
  object-position: center;
}


/* SECTION: OVERLAY TEXT (DATA) */
#overlayText {
  position: fixed;
  width: 100%;
  z-index: 1;
}

#overlayText h1 {
  color: #FFF;
  font-family: Menlo;
  font-size: 2.618rem;
  line-height: 1rem;
  font-style: normal;
  font-weight: 700;
  text-align: right;
  margin: 0;
}

#overlayText h2 {
  color: #FFF;
  font-family: Menlo;
  font-size: 1.618rem;
  line-height: 1.1rem;
  font-style: normal;
  font-weight: 700;
  text-align: left;
  margin: 0;
}

#overlayText p {
  color: #FFF;
  font-family: Menlo;
  font-size: 1rem;
  line-height: 0.618rem;
  font-style: normal;
  font-weight: 400;
  margin: 0;
}

#overlayText #left-container {
  text-align: left;
  left: 0;
  bottom: 10px;
  position: fixed;
  padding-left: 10px;
}

#overlayText #right-container {
  text-align: right;
  right: 0;
  bottom: 10px;
  position: fixed;
  padding-right: 10px;
}



/* MOBILE VERSION */
@media screen and (max-width: 700px) {
  html {
    font-size: 14px;
  }


  /* SECTION: CANVAS */
  canvas {
    position: fixed;
    width: 100%;
    height: 100%; 
    overflow-x: visible;
  }


  /* SECTION: OVERLAY TEXT (DATA) */
  #overlayText {
    bottom: 0;
  }

  #overlayText h1 {
    text-align: center;
    line-height: 0;
  }
  
  #overlayText h2 {
    text-align: center;
    line-height: 1.618rem;
  }

  #overlayText p {
    color: rgba(255, 255, 255, 0.80);
    font-size: 0.9rem;
    line-height: 0.5rem;
  }
  
  #overlayText #left-container {
    text-align: left;
    left: 0;
    bottom: 10px;
    position: relative;
    padding-left: 10px;
  }
  
  #overlayText #right-container {
    text-align: right;
    right: 0;
    bottom: 10px;
    position: relative;
    padding-right: 10px;
  }
}